.username {
  opacity: 0.5;
}

.about {
  font-size: 22px;
  line-height: 30px;
}

.button {
  width: 100px;
  height: 40px;
  font-size: 16px;
  padding: 0;
  font-weight: 700;
  background-color: #24292e;

  &:hover {
    background-color: lighten(#24292e, 10);
  }
}
